@font-face {
    font-family: "Ubuntu";
    src: url("Fonts/Ubuntu-R.ttf")      format("truetype"),
         url("Fonts/Ubuntu-RI.ttf")     format("truetype"),
         url("Fonts/Ubuntu-M.ttf")      format("truetype"),
         url("Fonts/Ubuntu-MI.ttf")     format("truetype"),
         url("Fonts/Ubuntu-B.ttf")      format("truetype"),
         url("Fonts/Ubuntu-BI.ttf")     format("truetype");
}

@font-face {
    font-family: "UbuntuMono";
    src: url("Fonts/UbuntuMono-R.ttf")  format("truetype"),
         url("Fonts/UbuntuMono-RI.ttf") format("truetype"),
         url("Fonts/UbuntuMono-B.ttf")  format("truetype"),
         url("Fonts/UbuntuMono-BI.ttf") format("truetype");
}

:root {
    --phoneZoom: 1;
}

* {
    font-family: "Ubuntu";
    color: #ccc;
    font-size: calc(20px * var(--phoneZoom));
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 10px 10px 0 10px;
}

h1 {
    font-size: calc(42px * var(--phoneZoom));
    font-style: normal;
    font-weight: bold;
}

h2 {
    font-size: calc(30px * var(--phoneZoom));
    font-style: normal;
    font-weight: bold;
}

h3 {
    font-size: calc(28px * var(--phoneZoom));
    font-style: italic;
    font-weight: bold;
}

code {
    font-family: "UbuntuMono";
    font-size: calc(22px * var(--phoneZoom));
    font-style: italic;
    font-weight: normal;
    margin-left: 4px;
    margin-right: 4px;
}

a, a:link, a:visited, a:active {
    color: #e11;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #822;
    text-decoration: underline;
}

.inline {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.headbtn {
    font-family: "Ubuntu";
    font-size: calc(30px * var(--phoneZoom));
}


body {
    background-color: #000;
    background-image: linear-gradient(to right, #200, #000, #000, #000, #000, #200);
    margin: 0;
    padding: 0;
}

div, section {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to right, #200, #000, #000, #000, #000, #200);
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}

h1.header-title {
    display: inline;
    padding-right: 10px;
}

h3.game-title {
    display: inline;
    padding-right: 10px;
}

.section-text {
    text-align: center;
    padding: 0 20%;
}
    
.section-game {
    display: flex;
}

.downloads-images {
    padding-top: 20px;
}

.downloads-group {
    flex: 50%;
    margin-bottom: 40px;
}

.os-img {
    height: calc(35px * var(--phoneZoom));
    margin-left: 20px;
    vertical-align: middle;
}

.game-img {
    max-height: calc(128px * var(--phoneZoom));
    display: block;
    margin: 20px auto 20px auto;
}

.game-img-group {
    flex: 50%;
    padding: 0;
    margin: 0 0 40px 0;
}


@media (max-width: 1280px) {
    :root {
        --phoneZoom: 2;
    }
    
    h1.header-title {
        display: block;
        padding-right: 0;
    }
    
    h3.game-title {
        display: block;
    }
    
    .section-text {
        padding: 0 5%;
    }
    
    .section-game {
        display: block;
    }
    
    .game-img-section {
        display: inline;
        vertical-align: middle;
    }
    
    .downloads-images {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}